<div class="container-fluid">

  <div class="row jumbotron text-center">
    <h1>Opendoor Wordgame</h1>
  </div>

  <div class="container">

    <!-- Show scrambled word -->
    <div class="row word-container">
      <div class="col-sm-2 text-center" ng-repeat="character in main.scrambledWord track by $index">
        <div class="character">{{character}}</div>
      </div>
    </div>

    <!-- Show user input -->
    <div class="row user-input-container">
      <div class="col-sm-2 text-center" ng-repeat="character in main.userInput track by $index">
        <div class="user-input character">{{character}}</div>
      </div>
    </div>


    <!-- Score & timer -->
    <div class="row info">

      <!-- TODO: score directive -->
      <score></score>
    </div>
  </div>

</div>
