<div>
    <div class="modal-header">
      <h3 class="modal-title">Unscramble the word!</h3>
    </div>
    <div class="modal-body">
      <h5>How to Play</h5>
      <ul>
        <li>
          <div>Type your guess and it will be checked automatically when you've used all the letters.</div>
          <ul>
            <li>If your guess is correct, you'll earn points and your multiplier will increase. Press enter to move on to the next word.</li>
            <li>If your guess is incorrect, the letters will be rescrambled and you can try again.</li>
          </ul>
        </li>
        <li>
          <div>If you get stuck on a word you can skip it by pressing "Ctrl + S". <strong>BUT</strong> you'll get 0 points for that round and your multiplier will reset to 0!</div>
        </li>
      </ul>
    </div>
    <div class="modal-footer">
      <button class="btn btn-warning" type="button" ng-click="help.close()">Close</button>
    </div>
</div>
